.list-cell {
    -fx-font-size: 10pt;
    -fx-font-family: "Lucida Console", Monaco, monospace;
}

.c-ct-message {
    -fx-font-size: 10pt;
    -fx-font-family: "Lucida Console", Monaco, monospace;
}

.c-ct-message-user {
    -fx-fill: blueviolet;
}

.c-ct-message-info {
    -fx-fill: darkgray;
}

.ch-has-new-msg {
    -fx-text-fill: orangered;
}
