<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="BUSINESS-EXCEPTIONS" value="pl.nn44.rchat.protocol.ChatException"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- @formatter:off -->
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-30.30logger{29}){cyan} %clr(:){faint} %clr([us=%-10X{req.userAgent}, rh=%-15X{req.remoteHost}]){magenta} %m%n</pattern>
            <charset>utf8</charset>
            <!-- @formatter:on -->
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <!-- don't log about: -->
            <onMatch>DENY</onMatch>

            <evaluator>
                <expression>
                    <!-- business exception -->
                    ${BUSINESS-EXCEPTIONS}.class.isInstance(throwable)
                    <!-- wrapped business exception -->
                    || ${BUSINESS-EXCEPTIONS}.class.isInstance(throwable != null ? throwable.getCause() : null)
                    <!-- GET requests to *ServiceExporter -->
                    || message.contains("ServiceExporter only supports POST requests")
                    <!-- closed connections -->
                    || message.contains("closed by the remote host")
                </expression>
            </evaluator>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="pl.nn44.rchat" level="DEBUG"/>
</configuration>
