<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- _________________________________________________________________________________________________________ -->

    <!-- @formatter:off -->
    <property name="ENCODER-PATTERN" value=
            "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-30.30logger{29}){cyan} %clr(:){faint} %clr([us=%-10.-10X{req.userAgent}, rh=%-15X{req.remoteHost}]){magenta} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
    />
    <!-- @formatter:on -->

    <!-- _________________________________________________________________________________________________________ -->

    <property name="LOG-FILE" value="x-log-rchat-server.log"/>
    <property name="BUSINESS-EXCEPTIONS" value="pl.nn44.rchat.protocol.exception.ChatException"/>
    <conversionRule conversionWord="removeAnsi" converterClass="pl.nn44.rchat.server.logback.AnsiControlSeqRemover"/>

    <!-- _________________________________________________________________________________________________________ -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER-PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <!-- don't log about: -->
            <onMatch>DENY</onMatch>

            <evaluator>
                <expression>
                    <!-- business exception -->
                    ${BUSINESS-EXCEPTIONS}.class.isInstance(throwable)
                    <!-- wrapped business exception -->
                    || ${BUSINESS-EXCEPTIONS}.class.isInstance(throwable != null ? throwable.getCause() : null)
                    <!-- GET requests to *ServiceExporter -->
                    || message.contains("ServiceExporter only supports POST requests")
                    <!-- closed connections -->
                    || message.contains("closed by the remote host")
                </expression>
            </evaluator>
        </filter>
    </appender>

    <!-- _________________________________________________________________________________________________________ -->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG-FILE}</file>
        <append>true</append>

        <encoder>
            <pattern>%removeAnsi(${ENCODER-PATTERN})</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!-- _________________________________________________________________________________________________________ -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- _________________________________________________________________________________________________________ -->

    <logger name="org.springframework" level="INFO"/>
    <logger name="pl.nn44.rchat" level="DEBUG"/>
</configuration>
