<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="BUSINESS-EXCEPTIONS" value="pl.nn44.rchat.protocol.ChatException"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[UA=%X{req.userAgent}] ${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <!-- don't log about: -->
            <onMatch>DENY</onMatch>

            <evaluator>
                <expression>
                    <!-- business exception -->
                    ${BUSINESS-EXCEPTIONS}.class.isInstance(throwable)
                    <!-- wrapped business exception -->
                    || ${BUSINESS-EXCEPTIONS}.class.isInstance(throwable != null ? throwable.getCause() : null)
                    <!-- POST requests to *ServiceExporter -->
                    || message.contains("ServiceExporter only supports POST requests")
                </expression>
            </evaluator>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="pl.nn44.rchat" level="DEBUG"/>
</configuration>
